body{
margin:0;
padding:0;
line-height: 1.5em;
background:url('board4.jpg'); background-repeat: repeat;
border: 20px solid black; 
/*color: #FFFF80;*/
}

b{font-size: 110%;}
em{color: red;}

a, a:visited {
	color:blue;
	text-decoration:none;
	outline:none;
	font-size:20px;
}

a:hover{
	text-decoration:none;
	color:#0196e3; 
	font-size:20px;
}


ul li a, ul li a:visited {
	color:white;
	text-decoration:none;
	outline:none;
	font-size:15px;
}

ul li a:hover{
	text-decoration:none;
	color:blue;
	font-size:15px;
}



#maincontainer{
/*width: 840px; /*Width of main container*/ 
width: 940px; /*Width of main container*/
margin: 0 auto; /*Center container on page*/
}

#topsection{
/*background: #EAEAEA;*/
height: 90px; /*Height of top section*/
}

#topsection h1{
margin: 0;
padding-top: 15px;
}

#topsection ul	{
			margin:0px; 		
padding:0px;	}		

/*First level list 
items******************************/		
#topsection ul li		
{			
display:inline; 			
float:left; 			
height:30px;			
line-height:30px;			
list-style:none; 			
margin-left:15px; 			
position:relative; 		
}	

#contentwrapper{
float: left;
width: 100%; 
}

#contentcolumn{
margin: 0 180px 0 180px; /*Margins for content column. Should be "0 RightColumnWidth 0 LeftColumnWidth*/
background:white;
/*height:100%;*/
height:auto;
}

#content2column{
margin: 0 180px 0 180px; /*Margins for content column. Should be "0 RightColumnWidth 0 LeftColumnWidth*/
/*height:100%;*/
height:auto;
}

#leftcolumn{
float: left;
width: 180px; /*Width of left column in pixel*/
margin-left: -940px; /*Set margin to that of -(MainContainerWidth)*/
/*background: #C8FC98;*/
}

#leftcolumn ul
{
	margin: 0;
	padding: 0;

}

#leftcolumn ul li
{
	margin: 0 0 1em;
	padding: 0;
	list-style-type: none;

}


#rightcolumn{
float: left;
width: 160px; /*Width of right column*/
margin-left: -160px; /*Set left margin to -(RightColumnWidth)*/
/*background: #FDE95E;*/
}



#footer{
clear: left;
width: 100%;
/*background: black;*/
color: #FFF;
text-align: center;
padding: 4px 0;
}

#footer a{
color: #FFFF80;
}

.innertube{
margin: 10px; /*Margins for inner DIV inside each column (to provide padding)*/
margin-top: 0;
/*background:url('board4.jpg'); background-repeat: repeat;*/
}


#date{
border-top: 1px solid black;
border-bottom: 1px solid black;
background-color:green;
padding:5px;
margin-bottom:25px;
font-size:15px;
text-align: center;
}

 #submissionContainer{
	
	/* Syling the comments and the comment form container */
	
	padding:12px;
	/*width:700px;*/
	position:relative;
	background-color:#fcfcfc;
	border:1px solid white;
	color:#0196e3; 
	margin-bottom:25px;
	
	/* CSS3 rounded corners and drop shadows */
	
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;

	-moz-box-shadow:2px 2px 0 #c2c2c2;
	-webkit-box-shadow:2px 2px 0 #c2c2c2;
	box-shadow:2px 2px 0 #c2c2c2;
}

#submissionContainer input[type=text],
#submissionContainer textarea{

	/* Styling the inputs */

	display:block;
	border:1px solid #ccc;
	margin:5px 0 5px;
	padding:3px;
	font-size:12px;
	color:#555;
	font-family:Arial, Helvetica, sans-serif;
}

#submissionContainer textarea{
/*width:700px;*/
height:100px;	
}

#submissionContainer a, a:visited {
	color:blue;
	text-decoration:none;
	outline:none;
}


#submissionContainer a:hover{
	text-decoration:none;
	color:blue;
}


#submissionPromotion{
	
	/* Syling the comments and the comment form container */
	
	padding:12px;
	/*width:700px;*/
	position:relative;
	background-color:#BDEDFF;
	border:1px solid white;
	color:#0196e3; 
	margin-bottom:25px;
	
	/* CSS3 rounded corners and drop shadows */
	
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;

	-moz-box-shadow:2px 2px 0 #c2c2c2;
	-webkit-box-shadow:2px 2px 0 #c2c2c2;
	box-shadow:2px 2px 0 #c2c2c2;
}

 #submissionContainer2{
	
	/* Syling the comments and the comment form container */
	
	padding:12px;
	/*width:700px;*/
	position:relative;
	/*background-color:#fcfcfc;*/
	border-bottom:2px dotted black;
	/*color:#888;*/
	color: white;
	margin-bottom:5px;
	
	/* CSS3 rounded corners and drop shadows */
	
	/*-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;

	-moz-box-shadow:2px 2px 0 #c2c2c2;
	-webkit-box-shadow:2px 2px 0 #c2c2c2;
	box-shadow:2px 2px 0 #c2c2c2;*/
}

#drop{
	
	/* The submit button */
	
	background-color:#58B9EB; 
	border:1px solid #40A2D4;
	color:#FFFFFF;
	cursor:pointer;
	font-family:'Myriad Pro',Arial,Helvetica,sans-serif;
	font-size:14px;
	font-weight:bold;
	padding:4px;
	margin-top:5px;

	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
}

#drop:hover{
	background-color:#80cdf5;
	border-color:#52b1e2;
}

#submit{
	
	/* The submit button */
	
	background-color:#58B9EB;
	border:1px solid #40A2D4;
	color:#FFFFFF;
	cursor:pointer;
	font-family:'Myriad Pro',Arial,Helvetica,sans-serif;
	font-size:14px;
	font-weight:bold;
	padding:4px;
	margin-top:5px;

	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
}

#submit:hover{
	background-color:#80cdf5;
	border-color:#52b1e2;
}







